@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


*{
  font-family: 'Roboto Mono', monospace;
  margin: 0%;
  padding: 0%;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #bde0fe;
  padding: 1em;
}

.nav-img{
  height: 50px;
  border-radius: 50%;
  margin-right: 1em;
}

.nav-container{
  display: flex;
  align-items: center;
}

.form-feild{
  display: grid;
  margin-top: 3em;
  margin-left: 10em;
  margin-right: 10em;
  gap: 20px
}

.form-input{
  grid-row: span 1;
  padding: 0.1em 1em 0.1em 1em;
  font-size: 1.5em;
}
.form-btn{
  grid-column: span 2;
  font-size: 1.5em;
  background-color: #bde0fe;
  padding: 0.3em;
  border-radius: 0.5em;
  box-shadow: -1px 4px 22px 1px rgba(150,145,145,1) ;
  -webkit-box-shadow: -1px 4px 22px 1px rgba(150,145,145,1) ;
  -moz-box-shadow: -1px 4px 22px 1px rgba(150,145,145,1) ;
  border: hidden;
}

main{
  text-align: center;
}
main img{
  max-width: 100%;
}
